.container {
  border-radius: 40px;
  background-color: #4a4afa;
}
.saved {
  width: 100px;
  background-color: #4a4afa;
  border-radius: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}
