.card {
  background-color: #f8f8f8;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 5px 0;
}

.card h3 {
  font-weight: 600;
}
.title {
  display: flex;
  align-items: center;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 10px;
}
.date,
.reminderDate {
  background-color: #f0f0ff;
  color: var(--primary-color);
  padding: 4px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
}
.reminderDate {
  color: #ff0000;
  background-color: #ffe0e0;
}
